<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${board.title}"></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" th:text="${board.writeDate}"></div>
                </header>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4" th:text="${board.content}"></p>
                </section>
            </article>
            <hr>
            <div class="text-end">
                <a type="button" class="btn btn-primary" th:href="@{/board/form/{boardId}(boardId=${board.id})}" th:if="${postOwner}" sec:authorize="isAuthenticated()">
                    수정
                </a>
                <a type="button" class="btn btn-primary" th:href="@{/board/form}" th:if="${postOwner}" sec:authorize="isAuthenticated()">
                    삭제
                </a>
                <p>
            </div>
            <!-- Comments section-->
<!--            <section class="mb-5">-->
<!--                <div class="card bg-light">-->
<!--                    <div class="card-body">-->
<!--                        &lt;!&ndash; Comment form&ndash;&gt;-->
<!--                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>-->
<!--                        &lt;!&ndash; Comment with nested comments&ndash;&gt;-->
<!--                        <div class="d-flex mb-4">-->
<!--                            &lt;!&ndash; Parent comment&ndash;&gt;-->
<!--                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                            <div class="ms-3">-->
<!--                                <div class="fw-bold">Commenter Name</div>-->
<!--                                If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.-->
<!--                                &lt;!&ndash; Child comment 1&ndash;&gt;-->
<!--                                <div class="d-flex mt-4">-->
<!--                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                                    <div class="ms-3">-->
<!--                                        <div class="fw-bold">Commenter Name</div>-->
<!--                                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Child comment 2&ndash;&gt;-->
<!--                                <div class="d-flex mt-4">-->
<!--                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                                    <div class="ms-3">-->
<!--                                        <div class="fw-bold">Commenter Name</div>-->
<!--                                        When you put money directly to a problem, it makes a good headline.-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; Single comment&ndash;&gt;-->
<!--                        <div class="d-flex">-->
<!--                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>-->
<!--                            <div class="ms-3">-->
<!--                                <div class="fw-bold">Commenter Name</div>-->
<!--                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
        </div>
    </div>
</div>
</body>
</html>