<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${board.title}"></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" th:text="${board.writeDate}"></div>
                </header>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4" th:text="${board.content}"></p>
                </section>
            </article>
            <hr>
            <div class="text-end">
                <form class th:action="@{/board/delete/{boardId}(boardId=${board.id})}" method="post" >
                    <input type="hidden" name="_method" value="DELETE">
                    <a type="button" class="btn btn-primary" th:href="@{/board/form/{boardId}(boardId=${board.id})}" th:if="${postOwner}" sec:authorize="isAuthenticated()">
                        수정
                    </a>

                    <button class="btn btn-primary" id="delete-btn" th:if="${postOwner}" sec:authorize="isAuthenticated()">
                        삭제
                    </button>
                </form>
                <p>
            </div>
        </div>
    </div>
</div>
</body>
</html>