<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fragment-nav">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <div class="container-fluid">
      <a class="navbar-brand" href="#">Bestinu Board</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
         <ul class="navbar-nav me-auto">
            <li class="nav-item active">
               <a class="nav-link" href="#">게시판
                  <span class="visually-hidden">(current)</span>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="member/login">로그인</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">회원가입</a>
            </li>
         </ul>
      </div>
      <ul class="navbar-nav mr-auto">
         <li class="nav-item">

            <span class="text-light">박인우님 안녕하세요.</span>

         </li>
      </ul>
   </div>
</nav>
</div>
</body>
</html>